@import "/src/assets/css/common.scss";

.root {
}

.previewCards {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;

  @include media-breakpoint-down(xl) {
    grid-gap: 15px;
  }

  @include media-breakpoint-down(md) {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 8px;
  }

  @include media-breakpoint-down(sm) {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
  }

  @include media-breakpoint-down(xs) {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

  @include media-breakpoint-down(xxs) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}
